{% extends'base1.html.twig' %}
{% block contenu %}
    <div class="general-subhead">
        <h1>Les Offres</h1>

    </div>

    <div class="portlet-body">
    <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
        <th>Conducteur</th>
        <th>date de naisssance Conducteur</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Nom Voiture</th>
        <th>Image Voiture</th>
        <th>Ville de Départ</th>
        <th>Ville d'Arrivée</th>
        <th>Nombre de place</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Opération</th>
        </thead>

        {% for reservation in reservations %}
            <tbody>
            <td> {{ reservation.conducteur.prenom }} {{ reservation.conducteur.nom }}</td>
            <td>{{ reservation.conducteur.age.format('Y-m-d') }}</td>
            <td>{{ reservation.date.format('Y-m-d') }}</td>
            <td>{{ reservation.heure.format("h:m:s") }}</td>
            <td>{{ reservation.NomVoiture }}</td>
            <td><img src="{{ asset('uploads/voitures/') }}{{ reservation.ImageVaoiture}}" width="110" height="110"/></td>
            <td>{{ reservation.villeDep }}</td>
            <td>{{ reservation.villeArriv}}</td>
            <td>{{ reservation.nbreplace }}</td>
            <td>{{ reservation.prix }}</td>
            <td>{{ reservation.description }}</td>
            <td><a href="{{ path('reserver', {'reservation': reservation.id}) }}">Réserver</a></td>
           </tbody>
        {% endfor %}


    </table>
    </div>
{% endblock %}